<%= @survey.title %>

<% if @survey.has_photo? %>
<div><img src="<%=@survey.photo%>" alt="<%=@survey.title%>" width="300"></div>
<%end%>

<h5><%= @survey.questions.first.text %></h5>
<form method="post" action="/surveys/<%= URI.escape(@survey.title, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) %>">
  <ul>
    <% @survey.questions.first.choices.each do |choice| %>
      <li><input type="radio" name="response" value= "<%= URI.escape(choice.text, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) %>"> <%= choice.text %></li>
    <% end %>
  </ul>
  <input type= "submit" value="done" class "button">
</form>
